html {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #0f4062;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  color: #0fd4cb;
}

.btn-light {
  background-color: #0fd4cb;
  border-radius: 50px;
  border-color: #0fd4cb;
  color: #0f4062;
}

.btn-light:hover {
  background-color: #e3671e;
  border-radius: 50px;
  border-color: #e3671e;
  color: #0f4062;
}

a {
  text-decoration: none;
  color: #0f4062;
}

a:hover {
  color: #e3671e;
}

.copywright {
  color: #0f4062;
}

footer {
  background-color: #fff;
}

nav {
  background-color: #fff;
}

.logo {
  font-family: 'Cinzel Decorative', cursive;
}

.btn-apply {
  background-color: #0fd4cb;
  border-color: #0fd4cb;
  color: #fff;
}

.btn-apply:hover {
  background-color: #e3671e;
  border-color: #e3671e;
  color: #fff;
}

.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -8em;
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: brightness(50%);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

.banner {
  filter: brightness(50%);
}
